/aom
/avisynth
/dav1d
/ffmpeg
/fribidi
/shaderc
/libarchive
/libass
/libplacebo
/libmysofa
/libunibreak
/mpv
/build_libs
/ffmpeg_build
/freetype2
/harfbuzz
*.deb
/debian/changelog
/debian/files
/debian/mpv.debhelper.log
/debian/mpv.postinst.debhelper
/debian/mpv.postrm.debhelper
/debian/mpv.substvars
/config/
/*_options

/debian/.debhelper
/debian/mpv
